body { 
    line-height: 1.4;
      font-size: 16px;
      padding: 0 10px;
      margin: 50px auto;
      max-width: 650px;
  }

.container {
  max-width:42em;margin:15 auto;
  }

img {
  max-width: 10vw;
}

.spacer {
  padding: 3vh
}